@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  width: 1366px;
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/background%201.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  width: 1030px;
  margin: 0 auto;
}
a,
span,
p {
  color: #fff;
}

/* заголовок */
.header {
  width: 1028px;
  height: 61px;
  margin: 46px auto 17px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo {
  align-self: center;
}

.logo-link {
  display: flex;
}

.logo-container {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}

.logo-img {
  width: 53px;
  height: 47px;
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/logo%203.png);
}

.logo-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  display: inline-block;
}

.milan {
  font-size: 29px;
  line-height: 29px;
}

.holidays {
  font-size: 18px;
  line-height: 18px;
  padding-top: 3px;
}

.text-tel,
.text-mail {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header a:hover {
  color: #f26522;
}

.logo:hover span,
.card:hover .card-caption {
  color: #f26522;
}

.logo:hover .logo-img {
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/logo%202.png);
}

.tours-img {
  width: 300px;
  height: 220px;
  position: relative;
}

.card-1-img {
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/card_1.png);
}

.card-2-img {
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/card_2.png);
}

.card-3-img {
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/card_3.png);
}

.card-4-img {
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/card_4.png);
}

.card-5-img {
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/card_5.png);
}

.card-6-img {
  background-image: url(https://gitlab.com/trewa10/homework-6/-/raw/main/images/card_6.png);
}

.card-caption {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}

.tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tours a {
  margin-bottom: 37px;
}


.gradient {
  background: linear-gradient(to bottom, #fff, #000);
  padding: 0 2px;
  margin-bottom: 20px;
}

.hover-img {
  position: absolute;
  bottom: -55px;
  transition: all 500ms ease;
  overflow: hidden;
}

.card:hover .hover-img {
  width: 300px;
  height: 59px;
  background-color: #f26522;
  position: absolute;
  bottom: 0;
}

.hover-text {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.hover-text-from {
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  left: 16px;
  top: 7px;
}

.hover-text-value {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  left: 16px;
  top: 29px;
}

.hover-text-details {
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  left: 180px;
  top: 29px;
}

.hover-text-details::after {
  content: "";
  margin-left: 16px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
}


footer {
  margin: 12px auto 15px;
}

footer p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  width: 306px;
  margin-left: 530px;
}
